@*
*.zip
release/*
releases/*
hemtt
hemtt.exe
.hemtt/local
ArmaScriptCompiler.exe
*.sqfc
keys/*
!keys/.gitkeep
tools/temp
*.cache
*.pbo
texHeaders.bin
*.swp
*.swo
*.biprivatekey
Thumbs.db
CHANGELOG.md
addons/marker_flags/*
addons/irlight/*
addons/main/script_input.hpp
stats/*
__pycache__
vendor/*
!vendor/.gitkeep
*.dll
!a4es_*.dll
extensions/*/.vs
extensions/*/bin
extensions/*/obj
extensions/*/packages
