@*
*.zip
release/*
releases/*
.vscode/*

hemtt
hemtt.exe
.hemttout

sqfvm.exe
ArmaScriptCompiler.exe

keys/*
!keys/.gitkeep

Thumbs.db
CHANGELOG.md
texHeaders.bin

*.sqfc
*.cache
*.pbo
*.swp
*.swo
*.biprivatekey

stats/*
__pycache__

vendor
vendor/*

*.dll
!a4es_*.dll

extensions/*/.vs
extensions/*/bin
extensions/*/obj
extensions/*/packages
